<%- include (".././partials/header") %>
<%- include (".././partials/navbar") %>
<link rel="stylesheet" href="/css/games/list.css">
<div class="container py-5 px-5 h-100 main">
    <div class="row no-gutters">
        <div class="col-12">
            <h1>Games</h1>
            <div class="dropdown-divider"></div>
        </div>
        <% games.forEach(game => { %>
            <div class="col-3 px-1 my-3 align-self-center">
                <a href="/games/<%= game._id %>" title="<%= game.name%>">
                    <img class="game-card w-100 rounded single-img" src="<%= game.image %>">
                </a>
                <p class="text-center my-2" style="font-size: 0.75rem">
                    <span><span class="pink-text">&#9829;&nbsp;</span><%= game.reviews.length %> Reviews</span>
                    <% if(game.avgRating > 0){ %>
                        <span><span class="pink-text">&nbsp;&nbsp; &#9733;&nbsp;</span><%= game.avgRating %> Rating</span>
                    <% } else{ %>  
                        <span><span class="pink-text">&nbsp;&nbsp; &#9733;&nbsp;</span>0 Rating</span>
                     <% } %>
                </p>
            </div>
        <% }) %>
    </div>
</div>
<%- include (".././partials/footer") %>
