<%- include (".././partials/header") %>
<%- include (".././partials/navbar") %>
<link rel="stylesheet" href="/css/games/list.css">
<div class="container pt-5 px-5 h-100 main">
    <div class="row">
        <div class="col 12">
            <h1 class="mb-4">Games</h1>
            <div class="flex-container mb-4">
                <% if (filtered_by){ %>
                    <div class="d-flex">
                        <label class="pt-2 mr-2">Filter by: </label>
                        <form action="/games" action="GET" class="form-inline">
                            <div class="form-group">
                                <select name="filter" class="custom-select filter">
                                <% if (filtered_by == 'alphabet') { %>
                                    <option selected value="alphabet">Alphabet</option>
                                    <option value="ratings">Ratings</option>
                                    <option value="videogame">Video game</option>
                                    <option value="boardgame">Board game</option>
                                <% }else if (filtered_by == 'ratings') { %>
                                    <option value="alphabet">Alphabet</option>
                                    <option selected value="ratings">Ratings</option>
                                    <option value="videogame">Video game</option>
                                    <option value="boardgame">Board game</option>
                                <% } else if (filtered_by == 'videogame'){ %>
                                    <option value="alphabet">Alphabet</option>
                                    <option value="ratings">Ratings</option>
                                    <option selected value="videogame">Video game</option>
                                    <option value="boardgame">Board game</option>
                                <% } else { %>
                                    <option value="alphabet">Alphabet</option>
                                    <option value="ratings">Ratings</option>
                                    <option value="videogame">Video game</option>
                                    <option selected value="boardgame">Board game</option>
                                <% } %>
                                </select>
                            <!-- <input type="text" name="filter" value="<%= filtered_by %>" class="form-control searchbar" required> -->
                                <input type="submit" value="Filter" class="btn btn-outline-primary ml-1">
                            </div>
                        </form>
                    </div>
                <% } else{ %>
                    <div class="d-flex">
                        <label class="pt-2 mr-2">Filter by: </label>
                        <form action="/games" action="GET" class="form-inline">
                            <div class="form-group">
                                <select name="filter" class="custom-select filter">
                                    <option selected value="alphabet">Alphabet</option>
                                    <option value="ratings">Ratings</option>
                                    <option value="videogame">Video game</option>
                                    <option value="boardgame">Board game</option>
                                </select>
                                <!-- <input type="text" name="filter" placeholder="Select filter ..." class="form-control searchbar" required> -->
                                <input type="submit" value="Filter" class="btn btn-outline-primary ml-1">
                            </div>
                        </form>
                    </div>
                <% } %>
                <div class="ml-2">
                    <% if (searched_title){ %>
                        <div class="d-flex">
                            <div class="vr ml-4 mr-4"></div>
                            <label class="pt-2 mr-2">Search by: </label>
                            <form action="/games" action="GET" class="form-inline">
                                <div class="form-group">
                                    <input type="text" name="search" value="<%= searched_title %>" class="form-control searchbar" required>
                                    <input type="submit" value="Search" class="btn btn-outline-primary searchbtn ml-1">
                                </div>	
                            </form>
                            <button onclick="location.href = '/games';" class="btn btn-primary searchbtn red ml-1">Clear</button>
                        </div>
                    <% }else{ %>
                        <div class="d-flex">
                            <div class="vr ml-4 mr-4"></div>
                            <label class="pt-2 mr-2">Search by: </label>
                            <form action="/games" action="GET" class="form-inline">
                                <div class="form-group">
                                    <input type="text" name="search" placeholder="Search Game Name..." class="form-control searchbar" required>
                                    <input type="submit" value="Search" class="btn btn-outline-primary searchbtn ml-1">
                                </div>	
                            </form>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <% games.forEach(game => { %>
            <% if (!game.deleted) { %>
                <div class="col-3 px-1 my-3 align-self-center">
                    <div class="">
                        <a href="/games/<%= game._id %>" title="<%= game.name%>">
                            <img class="game-card w-100 rounded single-img" src="<%= game.image %>">
                        </a>
                    </div>
                    <p class="text-center my-2" style="font-size: 0.75rem">
                        <% if(game.isVideogame){ %>
                            <span>Video game</span>
                        <% } else{ %>  
                            <span>Board game</span>
                        <% } %>
                        <span><span class="pink-text">&nbsp;&nbsp;&#9829;&nbsp;</span><%= game.reviews.length %> Reviews</span>
                        <% if(game.avgRating > 0){ %>
                            <span><span class="pink-text">&nbsp;&nbsp; &#9733;&nbsp;</span><%= game.avgRating.toFixed(2)%> Rating</span>
                        <% } else if (game.avgRating == 0) { %>
                            <span><span class="pink-text">&nbsp; &#9733;&nbsp;</span>0 Rating</span>
                        <% } else{ %>  
                            <span><span class="pink-text">&nbsp; &#9733;&nbsp;</span>No Ratings</span>
                        <% } %>
                    </p>
                </div>
            <% } %>
        <% }) %>
    </div>
</div>
<%- include (".././partials/footer") %>
