<%- include (".././partials/header") %>
<%- include (".././partials/navbar") %>
<div class="container py-5 h-100 main">
    <div class="row">
        <div class="col rounded shadow p-5">
            <div class="row">
                <div class="col-3">
                    <img class="w-100 shadow" src="<%= game.image %>">
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col">
                            <h1 class="d-inline-block"><%= game.name %></h1>
                            <form id="review-form" action="/games/<%= game._id %>/review" method="POST"></form>
                                <input form="review-form" id="rating-author" type="hidden" name="author" value="<%= user._id %>">
                                <div class="my-2">
                                    <textarea form="review-form" id="review-text" class="w-100 rounded p-2" name="text" placeholder="Add a review..." style="height: 100px" required></textarea>
                                </div>
                                <div class="row my-2">
                                    <div class="col-6">
                                        <label for="review-rating">Rating</label>
                                        <input form="review-form" id="review-rating" type="number" min="1" max="5" name="rating" required style="width: 150px;">
                                    </div>
                                    <div class="col-auto ml-auto">
                                        <input form="review-form" class="btn btn-primary" type="submit" value="Save">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include (".././partials/footer") %>
