<%- include (".././partials/header") %>
<%- include (".././partials/navbar") %>
<div class="container py-5 h-100 main">
    <div class="row">
        <div class="col-3">
            <img class="single-img shadow" src="<%= game.image %>">
            <% if (game.avgRating !== null) { %>
                <div class="text-center mt-4 mb-3">
                    <p class="mb-0">Rating</p>
                    <p class="h4 text-light"><%= game.avgRating.toFixed(2) %></p>
                </div>
            <% } %>
            <div class="text-center">
                <p class="mt-2 mb-0">Reviews</p>
                <p class="h4 text-light"><%=game.reviews.length%></p>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-8">
                    <h1 class="d-inline-block"><%= game.name %></h1>
                    <p class="mt-4"><%= game.description %></p>
                </div>
                <div class="col-4">
                    <div class="game-rate-box rounded">
                        <div class="py-4 px-3">
                            <form id="rate-game" action="/games/<%= game._id %>/rating" method="POST">
                                <input type="hidden" name="author" value="<%= user._id %>" form="rate-game">
                                <label for="rating-score">Rate</label>
                                <div class="input-group">
                                    <input id="rating-score" form="rate-game" class="form-control" name="score" type="number" min="1" max="5">
                                    <div class="input-group-append">
                                        <input type="submit" class="btn btn-outline-primary text-uppercase font-weight-bold" form="rate-game">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="dropdown-divider m-0"></div>
                        <div class="text-center py-4 px-3">
                            <a class="btn btn-primary text-uppercase font-weight-bold" href="/games/<%= game._id %>/review">Review</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <% if (game.reviews.length !== 0) { %>
                        <hr class="mt-5" style="background-color: rgb(174, 134, 191);">
                        <div class="row mt-5">
                            <div class="col">
                                <h3 style ="color:rgba(255, 255, 255, 0.60);" >Reviews</h3>
                                <div class="dropdown-divider"></div>
                                <% game.reviews.forEach(review => { %>
                                    <div class="my-3">
                                        <p class="mb-2" style="font-size: 14px;">
                                            <span>Reviewed by</span>
                                            <span class="pink-text font-weight-bold"><%= review.author.username %></span>
                                            <span>on <%=review.createdAt.toDateString()%> </span>
                                            <span class="pink-text">&nbsp;&nbsp;• </span>
                                            <% if (review.rating) { %>
                                                <span>&nbsp;&#9733;&nbsp;<%=review.rating.score%></span>
                                            <% } %>
                                        </p>
                                        <% if (review.text && review.text != "") { %>
                                            <p class="mb-0"><%= review.text %></p>
                                        <% } %>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                <% }) %>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- <div class="col-9">
            <div class="row">
                <div class="col">
                    <h1 class="d-inline-block"><%= game.name %></h1>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-8">
                    <p><%= game.description %></p>
                </div>
                <div class="col-4">
                    <div class="game-rate-box rounded">
                        <div class="p-3">
                            <form id="rate-game" action="/games/<%= game._id %>/rating" method="POST">
                                <input type="hidden" name="author" value="<%= user._id %>" form="rate-game">
                                <label for="rating-score">Rate</label>
                                <div class="input-group">
                                    <input id="rating-score" form="rate-game" class="form-control" name="score" type="number" min="1" max="5">
                                    <div class="input-group-append">
                                        <input type="submit" class="btn btn-outline-primary text-uppercase font-weight-bold" form="rate-game">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="text-center p-3">
                            <a class="btn btn-primary text-uppercase font-weight-bold" href="/games/<%= game._id %>/review">Review</a>
                        </div>
                    </div>
                    <% if (game.avgRating !== null) { %>
                        <div>
                            <p class="mt-4 mb-0">Rating</p>
                            <p class="display-4"><%= game.avgRating %></p>
                        </div>
                    <% } %>
                </div>
            </div>
            <% if (game.reviews.length !== 0) { %>
                <div class="row mt-4">
                    <div class="col">
                        <h2>Reviews</h2>
                        <% game.reviews.forEach(review => { %>
                            <div class="my-4">
                                <p class="mb-2">
                                    <span>Reviewed by</span>
                                    <span class="font-weight-bold">&nbsp;&nbsp;<%= review.author.username %></span>
                                    <span>&nbsp;&nbsp;⭐<%= review.rating.score %></span>
                                </p>
                                <p><%= review.text %></p>
                            </div>
                        <% }) %>
                    </div>
                </div>
            <% } %>
        </div> -->
    </div>
</div>
<%- include (".././partials/footer") %>