<%- include (".././partials/header") %>
<%- include (".././partials/navbar") %>
<div class="container py-5 px-5 h-100 main">
    <div class="row">
        <div class="col">
            <form action="/list/new" class="inline">
                <button class="btn btn-outline-primary float-right submit-button">Create New List</button>
            </form>
            <h1 class="mb-4">My Lists</h1>
            <% if (current_user && lists && lists.length > 0) { %>
                <div class="flex-container mb-4">
                    <% if (filtered_by){ %>
                        <div class="d-flex">
                            <label class="pt-2 mr-2">Filter by: </label>
                            <form action="/list" action="GET" class="form-inline">
                                <div class="form-group filter">
                                    <select name="filter" class="custom-select filter">
                                    <% if (filtered_by == 'alphabet') { %>
                                        <option selected value="alphabet">Alphabet</option>
                                        <option value="likes">Likes</option>
                                        <option value="newest">Newest</option>
                                    <% }else if (filtered_by == 'likes') { %>
                                        <option value="alphabet">Alphabet</option>
                                        <option selected value="likes">Likes</option>
                                        <option value="newest">Newest</option>
                                    <% } else { %>
                                        <option value="alphabet">Alphabet</option>
                                        <option value="likes">Likes</option>
                                        <option selected value="newest">Newest</option>
                                    <% } %>
                                    </select>
                                    <!-- <input type="text" name="filter" value="<%= filtered_by %>" class="form-control searchbar" required> -->
                                    <input type="submit" value="Filter" class="btn btn-outline-primary ml-1">
                                </div>
                            </form>
                        </div>
                    <% } else{ %>
                        <div class="d-flex">
                            <label class="pt-2 mr-2">Filter by:</label>
                            <form action="/list" action="GET" class="form-inline">
                            <div class="form-group">
                                <select name="filter" class="custom-select filter">
                                    <option selected value="alphabet">Alphabet</option>
                                    <option value="likes">Likes</option>
                                    <option value="newest">Newest</option>
                                </select>
                                <!-- <input type="text" name="filter" placeholder="Select filter ..." class="form-control searchbar" required> -->
                                <input type="submit" value="Filter" class="btn btn-outline-primary ml-1">
                            </div>
                            </form>
                        </div>
                    <% } %>
                    <div class="ml-2">
                        <% if (searched_name){ %>
                            <div class="d-flex">
                                <div class="vr ml-4 mr-4"></div>
                                <label class="pt-2 mr-2">Search by: </label>
                                <form action="/list" action="GET" class="form-inline">
                                    <div class="form-group">
                                        <input type="text" name="search" value="<%= searched_name %>" class="form-control searchbar" required>
                                        <input type="submit" value="Search" class="btn btn-outline-primary searchbtn ml-1">
                                    </div>	
                                </form>
                                <button onclick="location.href = '/list';" class="btn btn-primary searchbtn ml-1">Clear</button>
                            </div>
                        <% }else{ %>
                            <div class="d-flex">
                                <div class="vr ml-4 mr-4"></div>
                                <label class="pt-2 mr-2">Search by: </label>
                                <form action="/list" action="GET" class="form-inline">
                                    <div class="form-group">
                                        <input type="text" name="search" placeholder="Search list name..." class="form-control searchbar" required>
                                        <input type="submit" value="Search" class="btn btn-outline-primary searchbtn ml-1">
                                    </div>	
                                </form>
                            </div>
                        <% } %>
                    </div>
                </div>
                <% lists.forEach(list => { %>
                    <div class="list-card my-4 py-4 pl-4">
                        <div class="flex-container">
                            <h5 class="flex-child pb-2"><a href="/list/<%= list._id %>"><%= list.name %></a></h5>  
                            <div class="flex-child mr-4 text-right">
                                <span><%= list.likes.length %> Likes </span>
                                <span class="pink-text">• </span>
                                <span><%= list.comments.length %> Comments </span>
                                <span class="pink-text">• </span>
                                <span>Created on <span><%= list.createdAt.toDateString() %></span>
                            </div>
                        </div>
                        <div class="p-0 m-0">
                            <% let i = 0 %>
                            <% for (; i < 6 && i < list.games.length; i = i + 1) { %>
                                <a href="/games/<%= list.games[i]._id %>" title="<%= list.games[i].name%>">
                                    <img class="game-card list-img rounded p-0 m-0 edges" src="<%= list.games[i].image %>">
                                </a>
                            <% } %>
                            <% if (list.games.length > 6) { %>
                                <span class="h5 pl-2 font-weight-boldl"><a style="color: rgba(255, 255, 255, 0.60)" href="/list/<%= list._id %>">+<%= list.games.length - i %></a></span>
                            <% } %>
                        </div>
                        <% if (list.description && list.description != "") { %>
                            <div class="mt-3"><%= list.description %></div>
                        <% } %>
                    </div>
                <% }) %>
            <% } else{ %>
                <div class="list-card text-center my-4 py-4 pl-4">
                    <h2 class="mt-3">You do not have any lists.</h2>
                    <p class="mb-3">Try creating one using the button above!</p>
                </div>
            <% } %>
        </div>
    </div>
</div>
<%- include (".././partials/footer") %>
