<%- include (".././partials/header") %>
<%- include (".././partials/navbar") %>
<div class="container py-5 h-100 main">
  <ul>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/games">Games</a></li>
    <strong>Lists</strong>
    <ul>
      <% if (current_user && lists && lists.length > 0) { %>
        <% lists.forEach(list => { %>
          <li> <a href="/list/<%= list._id %>"><%= list.name %></a> by <%= list.author.username %>
          <% if (!list.author.equals(current_user)) { %>
            <form action ='/list/<%= list._id %>' method="POST">
              <% var liked = false %>
              <% var likedId = "" %>
              <% list.likes.forEach(like => { %>
                <% if (like.author.equals(current_user._id)) { %>
                  <% liked = true %>
                  <% likedId = like._id %>
                  <% return %>
                <% } %>
              <% }) %>
              <% if (liked) { %>
                <button type="submit" name="like" value="<%= likedId %>">Dislike</button>
              <% } else { %>
                <button type="submit" name="like" value="addNew">Like</button>
              <% } %>
          </form>
          <% } %>  
          <p><%= list.likes.length %> Likes</p>
          </li>
      <% }) %>
      <% } %>
      </ul>
  </ul>
  <form action="/list/new" class="inline">
    <button class="float-left submit-button" >Create New List</button>
  </form>
</div>
<%- include (".././partials/footer") %>
