<%- include (".././partials/header") %>
<%- include (".././partials/navbar") %>
<div class="container py-5 h-100 main">
  <ul>
    <strong>Lists</strong>
    <% if (searched_name){ %>
      <div class="d-flex mb-4">
          <form action="/" action="GET" class="form-inline">
              <div class="form-group">
                  <input type="text" name="search" value="<%= searched_name %>" class="form-control searchbar" required>
                  <input type="submit" value="Search" class="btn1 btn-default searchbtn ml-1">
              </div>	
          </form>
          <button onclick="location.href = '/';" class="btn1 btn-default searchbtn red ml-1">Clear</button>
      </div>
  <% }else{ %>
      <div class="d-flex">
          <form action="/" action="GET" class="form-inline">
              <div class="form-group">
                  <input type="text" name="search" placeholder="Search List Name ..." class="form-control searchbar" required>
                  <input type="submit" value="Search" class="btn1 btn-default searchbtn ml-1">
              </div>	
          </form>
      </div>
  <% } %>

  <% if (filtered_by){ %>
    <label class="text-white">Filter by</label>
    <form action="/" action="GET" class="form-inline">
      <div class="form-group">
        <select name="filter" class="custom-select">
          <% if (filtered_by == 'alphabet') { %>
            <option selected value="alphabet">Alphabet</option>
            <option value="likes">Likes</option>
            <option value="newest">Newest</option>
          <% }else if (filtered_by == 'likes') { %>
            <option value="alphabet">Alphabet</option>
            <option selected value="likes">Likes</option>
            <option value="newest">Newest</option>
          <% } else { %>
            <option value="alphabet">Alphabet</option>
            <option value="likes">Likes</option>
            <option selected value="newest">Newest</option>
          <% } %>
        </select>
        <!-- <input type="text" name="filter" value="<%= filtered_by %>" class="form-control searchbar" required> -->
        <input type="submit" value="Filter" class="btn btn-outline-primary text-uppercase font-weight-bold">
      </div>
    </form>
  <% } else{ %>
    <label class="text-white">Filter by</label>
    <form action="/" action="GET" class="form-inline">
      <div class="form-group">
        <select name="filter" class="custom-select">
          <option selected value="alphabet">Alphabet</option>
          <option value="likes">Likes</option>
          <option value="newest">Newest</option>
        </select>
        <!-- <input type="text" name="filter" placeholder="Select filter ..." class="form-control searchbar" required> -->
        <input type="submit" value="Filter" class="btn btn-outline-primary text-uppercase font-weight-bold">
      </div>
    </form>
  <% } %>
  </div>
    <ul>
      <% if (current_user && lists && lists.length > 0) { %>
        <% lists.forEach(list => { %>
          <li> <a href="/list/<%= list._id %>"><%= list.name %></a> by <%= list.author.username %>
          <% if (!list.author.equals(current_user)) { %>
            <form action ='/list/<%= list._id %>' method="POST">
              <% if (filtered_by && filtered_by == 'likes') { %>
                <input type="hidden" name="filter" value="likes">
              <% } %>
              <% var liked = false %>
              <% var likedId = "" %>
              <% list.likes.forEach(like => { %>
                <% if (like.author.equals(current_user._id)) { %>
                  <% liked = true %>
                  <% likedId = like._id %>
                  <% return %>
                <% } %>
              <% }) %>
              <% if (liked) { %>
                <button type="submit" name="like" value="<%= likedId %>">Dislike</button>
              <% } else { %>
                <button type="submit" name="like" value="addNew">Like</button>
              <% } %>
          </form>
          <% } %>  
          <p><%= list.likes.length %> Likes</p>
          </li>
      <% }) %>
      <% } %>
      </ul>
  </ul>
  <form action="/list/new" class="inline">
    <button class="float-left submit-button" >Create New List</button>
  </form>
</div>
<%- include (".././partials/footer") %>
